* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
    background-color: #d5e1f0;
    font-family: Outfit, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    margin-top: auto;
    background-color: white;
    border-radius: 16px;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 12px;
}

img {
    width: 200px;
    border-radius: 8px;
}

p {
    width: 200px;
    text-align: center;
}

.content p:first-of-type {
    font-weight: 700;
}

.content p:last-of-type {
    color:#808080;
    font-size: 11px;
}


.attribution { 
    font-size: 15px;
    text-align: center;
    margin-top: auto;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}